{% extends 'base.html' %}
{% from 'macro.html' import qux %}

{% block title %} Home {% endblock title %}

{% block content %}
<h1>Template</h1>
<ul>
    <li><a href= "{{ url_for('watchlist') }}">WatchList</a></li>
    <li>Filter: {{ foo|musical }}</li>
    <li>Global: {{ bar() }}</li>
    <li>Macro: {{ qux(amount=5) }}</li>
    <li><a href="{{ url_for('just_flash') }}">Flash something</a></li>
</ul>
{% endblock content %}

{% block styles %}
{{ super() }}
<style>
    .b {
        color: red;
    }
</style>
{% endblock styles %}